<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title - Video Games Club</title>
        <link rel="icon" type="image/png" href="~/favicon.png"/>
          <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
    <header>
        
        <div class="header-content">
        
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/newLogo.png" alt="VideoGamesClub" /></a> 
            </div>
            <div class="section-right">
                
                <h1>Welcome to Video Games Club</h1>
                
            </div>
            
            <div class="menu">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Konto", "About", "Home")</li>
                    <li>@Html.ActionLink("Gry", "Index", "Item")</li>
                    <li>Wymiany</li>
                    <li>Uzytkownicy</li>
                </ul>

             <div class="search-box">

		        
    @using (@Html.BeginForm("SearchResults", "Home"))
    {
       

                    @Html.TextBox("searchtext")
                 <input type="submit" class="go" value="Szukaj!"/>
/*
@Html.RadioButton("criteria", "name", new { id = "nameID", Text="Name", Checked=true, TextAlign="right" })
        <label for="nameID">Name</label>
@Html.RadioButton("criteria", "description", new { id = "descID", Text="Description" })
        <label for="nameID">Description</label>*/
    } 
		    
		    </div>
    
            </div>

            <div id="login">
                @Html.Partial("_LoginPartial")
            </div>

            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Witaj @User.Identity.Name!</p>
                }
            </div>
            
        </div>
	
    </header>


    <div id="body">
    @RenderSection("featured", required: false)
    <section class="main-content">
        @RenderBody()
    </section>
    </div>
    <footer>
        
        <div class="footer-menu">
            
            <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="">News</a></li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
            
        </div>
        
    </footer>
    </body>

@*    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <a href="@Url.Action("Index", "Home")">
                           <img src="~/Content/images/logo.png" alt="VideoGamesClub" />
                       </a>
                    </p>
                </div>
                <div class="float-right">

                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>*@
</html>
