@model VideoGamesClub.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2 id="reg-title">Create a new account.</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset id="register">

        @Html.LabelFor(m => m.UserName) <br/>
        @Html.TextBoxFor(m => m.UserName) <br/>

        @Html.LabelFor(m => m.Password) <br/>
        @Html.PasswordFor(m => m.Password) <br/>

        @Html.LabelFor(m => m.ConfirmPassword) <br/>
        @Html.PasswordFor(m => m.ConfirmPassword) <br/>

        <input type="submit" value="Register" />
    </fieldset>
}
