@model IEnumerable<VideoGamesClub.Models.Game>

@{
    ViewBag.Title = "Index";
}


<div class="main-content">

     @if (User.Identity.IsAuthenticated)
     {
		<p class="create" style="margin-bottom: 50px;">
		    @Html.ActionLink("Create New", "Create")
		</p>
     }

@foreach (var item in Model) {
    
    		<table class="display-games">
		
		    <tr>
			<td>
			    @Html.DisplayFor(modelItem => item)
			</td>
		    </tr>
		
		</table>
		
		<div class="games-buttons">
            @if(User.IsInRole("administrator")) {
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                @Html.ActionLink("Details", "Details", new { id=item.Id })
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            } else {
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            }
		</div>
}      

</div>
